*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.score-board{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  background-color: #fff;
  padding: 10px;
  z-index: 999;
}

.splash{
  position: absolute;
  z-index: 1;
}

.splash img{
  height:150px ;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#game-container.hide{
  display: none;
}
  #user-ship {
    width: 150px;
    height: 150px;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
  }

  #user-ship img{
    height: 150px;
  }
  #enemy-ships {
    width: 100%;
    height: 100%;
    position: absolute;
  }
.enemy-ship {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

.enemy-ship img{
  height: 50px;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    touch-action: manipulation;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.winner{
  background-color: royalblue;
  color: #fff;
  height: 200px;
  width: 400px;
  position: relative;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

h1{
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  position: absolute;
}

.winner.show{
  display: block;
}

.close{
  position: absolute;
  top: 20px;
  right:20px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 73, 73);
  padding: 5px;
  cursor: pointer;

}
